@import url('variables.css');

/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--color2) !important;
    color: white !important;
}

/* Barra Lateral */
#div-lateral {
    background-color: var(--color1);
    color: white;
    box-shadow: 5px 7px 14px 1px rgba(0, 0, 0, 0.712);
    padding: 1rem;
}

#div-lateral h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

#div-lateral p {
    font-size: 1rem;
}

#div-lateral .nav-btn {
    display: block;
    width: 100%;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 10px 40px 10px 20px;
    font-size: 1.2rem;
    text-align: left;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    position: relative;
}

.nav-btn::after {
    content: '>';
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-60%);
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.nav-btn:hover::after {
    animation: moveRight 0.3s forwards;
    color: #f4f4f4;
}

@keyframes moveRight {
    from {
        transform: translateY(-60%);
    }
    to {
        transform: translate(10px, -60%);
    }
}

.nav-btn:hover {
    background: linear-gradient(50deg, var(--color2), var(--color4), var(--color5));
    transform: scale(1.05);
    color: #f4f4f4 !important;
}

.nav-btn:active {
    background-color: rgba(2, 114, 94, 1);
    transform: scale(0.98);
}

/* Estilização do botão sem o link */
button.nav-btn {
    background-color: #555;
}

button.nav-btn:hover {
    background-color: #666;
}

button.nav-btn:focus,
.nav-btn:focus {
    outline: none;
}

/* Div Contact */
#div-contact {
    color: #f1f1f1;
}

#div-contact p {
    font-size: 0.9rem;
    margin: 0;
}

/* Conteúdo Principal */
#div-principal {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 5px 7px 14px 1px rgba(0, 0, 0, 0.712);
    padding: 2rem;
    margin-left: 1rem;
}

/* Estilo de cada seção */
h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

/* Estilos de Cards */
.card {
    background-color: #fff;
    border-radius: 15px; /* Bordas arredondadas nos cartões */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-bottom: 20px; /* Espaçamento entre os cartões */
}

.card-header {
    background-color: var(--color1); /* Cor do cabeçalho dos cartões */
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    padding: 20px; /* Espaçamento interno do cartão */
}

/* Tamanho das imagens */
.tamanhoImagens {
    width: 130px;
    height: 130px;
    border-radius: 12px;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 768px) {
    #div-lateral {
        padding: 1rem;
    }

    .nav-btn {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .card {
        width: 90%; /* Ajuste de largura do cartão em telas menores */
        margin: auto; /* Centraliza o cartão */
    }
}

@media (max-width: 576px) {
    #div-lateral {
        padding: 0.5rem;
    }

    .nav-btn {
        font-size: 0.9rem;
    }

    .tamanhoImagens {
        width: 60px;
        height: 90px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/* Efeito de Hover nos Jogos */
.div-jogo:hover {
    transform: scale(1.1);
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.aviso-jogos {
    color: black;
    font-weight: bold;
}


/* Estilos de listas */
.avaliacoes-list, .comentarios-list, .likes-list {
    list-style-type: none;
    padding: 0;
}

/* Estilos de itens de lista */
.avaliacao-card, .comentario-card, .like-card {
    margin-bottom: 1rem;
}

/* Estilos de conteúdo arredondado */
.avaliacao-content, .comentario-content, .like-content {
    background-color: #f8f9fa;
    color: #333;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.avaliacao-content:hover, .comentario-content:hover, .like-content:hover {
    transform: scale(1.02);
}

.card-header {
    height: 50px;
    background: linear-gradient(50deg, var(--color2), var(--color4), var(--color5));
    color: white !important;
}

h5 {
    font-size: 24px !important;
}
