@import url('variables.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color2) !important;
    color: white !important;
}

.tamanhoImagens{
    width: 130px;
    height: 130px;
    border-radius: 12px;
    object-fit: cover;
}

#div-lateral {
    background-color: var(--color1);
    box-shadow: 5px 7px 14px 1px rgba(0, 0, 0, 0.712);
}

#div-principal {
    background-color: #f4f4f4;
    border-radius: 2%;
    box-shadow: 5px 7px 14px 1px rgba(0, 0, 0, 0.712);
    padding: 20px;
}

.divs-container-principal {
    background: linear-gradient(50deg, var(--color2), var(--color4), var(--color5));
}

.nav-btn {
    display: block;
    width: 100%;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 10px 40px 10px 20px; 
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    position: relative; 
}

.nav-btn::after {
    content: '>'; 
    position: absolute; 
    right: 25px; 
    top: 50%; 
    transform: translateY(-60%); 
    font-size: 24px; 
    color: #333; 
    transition: color 0.3s ease; 
}

.nav-btn:hover::after {
    animation: moveRight 0.3s forwards; 
    color: #f4f4f4; 
}

@keyframes moveRight {
    from {
        transform: translateY(-60%); 
    }
    to {
        transform: translate(10px, -60%); 
    }
}

.nav-btn:not(:hover)::after {
    animation: none; 
}

.nav-btn:hover {
    background: linear-gradient(50deg, var(--color2), var(--color4), var(--color5));
    transform: scale(1.05); 
    color: #f4f4f4 ;
}

.nav-btn:active {
    background-color: rgba(2, 114, 94, 1); 
    transform: scale(0.98); 
}

/* Estilização do botão sem o link */
button.nav-btn {
    background-color: #555;
}

button.nav-btn:hover {
    background-color: #666;
}

button.nav-btn:focus, 
.nav-btn:focus {
    outline: none
}

.card-body {
    background: linear-gradient(50deg, var(--color2), var(--color4), var(--color5));
}

.card-title {
    color: white !important;
}

.div-jogo:hover{
    transform: scale(1.1);
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.aviso-jogos{
    color: black;
    font-weight: bold;
}

#suggestionsDropdown {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    display: none;
}

#suggestionsDropdown .dropdown-item {
    cursor: pointer;
    padding: 8px 12px;
}

#suggestionsDropdown .dropdown-item:hover {
    background-color: #f8f9fa;
}

#suggestionsDropdown .disabled {
    color: #6c757d;
}
