<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação da Conta</title>
</head>
<body>
    <div id="div-autenticacao">
        <h1 id="titulo-autenticacao">Autenticação de Email!</h1>
        <p id="texto-autenticacao">
            Enviamos um email super bonito para {{ email }}!
            <br>
            Confirme o seu email para que você possa entrar no site.
        </p>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <label for="codigo_verificacao">{{ form.codigo_verificacao.label }}</label>
            {{ form.codigo_verificacao(size=32, id="autenticar-conta", placeholder="Digite aqui o código!") }}
            {% for error in form.codigo_verificacao.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{ form.submit() }}</p>
        </form>
    </div>
</body>
</html>
