<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.nome.label }}<br>
            {{ form.nome(size=32) }}<br>
            {% for error in form.nome.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.data_nascimento.label }}<br>
            {{ form.data_nascimento }}<br>
            {% for error in form.data_nascimento.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.senha.label }}<br>
            {{ form.senha(size=32) }}<br>
            {% for error in form.senha.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.confirmacao_senha.label }}<br>
            {{ form.confirmacao_senha(size=32) }}<br>
            {% for error in form.confirmacao_senha.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>