<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forum.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside id="div-lateral" class="col-md-2 p-4 vh-100 d-flex flex-column">
                <div class="text-center mb-4">
                    <a href="/perfilUsuario"><img src="../static/css/imagens/4646084.png" alt="Avatar" class="rounded-circle mb-2" width="100" height="100"></a>
                    <h2>{{dadosUser.Nome.capitalize()}}</h2>
                    <p>Pro Player!</p>
                </div>
                <nav class="mb-4 mt-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ url_for('paginaCatalogo') }}" class="nav-btn">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('paginaInicial') }}" class="nav-btn">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('paginaForum') }}" class="nav-btn">Fórum</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('paginaGames') }}" class="nav-btn">Biblioteca</a>
                        </li>
                    </ul>
                </nav>                
                <div id="div-contact" class="contact text-center mt-auto">
                    <p>Contact Us</p>
                    <p>(00)0000-0000</p>
                    <p>email@adress.com</p>
                </div>
            </aside>

            <div class="col-md-10">
                <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top rounded shadow">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/paginaInicial">RetroVerse</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSearch">
                            <form class="d-flex ms-auto" method="get" action="{{ url_for('paginaForum') }}">
                                <input class="form-control me-2" type="search" name="search" placeholder="Pesquisar Tópicos" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                            </form>
                        </div>
                    </div>
                </nav>

                <main id="forum-content" class="m-5 p-5 overflow-auto" style="height: 80vh;">
                    <h2 class="mb-4">Tópicos Recentes</h2>
                    <div class="d-flex gap-2">
                        <a href="{{ url_for('paginaTopico') }}" class="btn btn-primary">➕ Criar tópico</a>
                        <form method="get" action="{{ url_for('paginaForum') }}">
                            <select name="ordenacao" onchange="this.form.submit()">
                                <option value="Mais novos" {% if request.args.get('ordenacao') == 'Mais novos' %}selected{% endif %}>Mais novos</option>
                                <option value="Mais antigos" {% if request.args.get('ordenacao') == 'Mais antigos' %}selected{% endif %}>Mais antigos</option>
                                <option value="Mais comentados" {% if request.args.get('ordenacao') == 'Mais comentado' %}selected{% endif %}>Mais comentados</option>
                                <option value="Mais curtidos" {% if request.args.get('ordenacao') == 'Mais curtido' %}selected{% endif %}>Mais curtidos</option>
                            </select>
                        </form>
                    </div>
                
                    <hr>
                
                    <div class="list-group">
                        {% for topico in topicos %}

                        <a href="{{ url_for('paginaVisualizarTopico', topico_id=topico['CodigoTopico']) }}" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">{{ topico['Titulo'] }}</h5>
                            <p class="mb-1">{{ topico['Descricao'] }}</p>
                            <small>Criado por <strong>{{ topico['Nome'] }}</strong> - {{ topico['DataCriação'].strftime('%d/%m/%Y') }}</small>
                            <div class="d-flex justify-content-between mt-2">
                                <small>💬 {{ topico['num_comentarios'] }} comentários</small>
                                <small>👍 {{ topico['Curtidas'] }} curtidas</small>
                            </div>
                        </a>
                        {% else %}
                        <p>Nenhum tópico encontrado.</p>
                        {% endfor %}
                    </div>
                </main>
                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
